

header {
    margin: 0;
    padding: 0;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: transparent;
    color: whitesmoke;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #000;
    z-index: 2;
    background-image: url('../../assets/bg11.jpg');
    background-position: 50% 50%;
}

.logo {
    width: 60%;
    display: flex;
    
}

.logo .icon {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 4px;
    /* padding: 10px; */
}

.logo .icon img{
    width: 70px;
    height: 70px;
}

.links {
    width: 30%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.links a {
    font-size: 20px;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 450;

}

.links a:hover {
    background-color: whitesmoke;
    color: #004246;
}

.links a.active {
    background-color: #deff58;
    color: #004246;
}

.bgcolor {
    background-color: #004246;
}

.container {
    flex: 1;
}

.close{
    display: none;
    cursor: pointer;
}
.hidden{
    display: none;
}

@media screen and (max-width: 900px) {
    .links {
        width: 100%; /* Adjust width for mobile view */
        padding: 20px; /* Adjust padding for mobile view */
        justify-content: center; /* Center the links */
        flex-direction: column; /* Stack links on top of each other */
        align-items: center; /* Center the links horizontally */
    }
    .icon{
       font-size: smaller;
       margin-left: 40px;
    }
    header {
        margin: 0;
        padding: 10px;
        flex-direction: column;
        align-items: center;
        background-color: transparent;
        color: whitesmoke;
        position: relative;
        width: 100%;
    }    
    .close{
        display: block;
        position: absolute;
        top: 10px;
        right: 50px;
        font-weight: 500;
        font-size: large;
        transition: all 0.5s;
    }
    .close.active > .links{
            display: none;
    }

}
