navbar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    align-items: center;
}