<!-- <nav class="navbar navbar-expand-lg bgcolor ">
  <div class="container-fluid">
    <a class="navbar-brand text-white fs-4 p-4 " href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse  " id="navbar">
        <div class="d-flex justify-content-end ">
          <ul class="navbar-nav  mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white " routerLink="aboutus">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " routerLink="courses">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " routerLink="trainers">Trainers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white " routerLink="contact">Contacts</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav> -->
  
  
  <header>
    <div class="logo">
      <div class="icon">
        <img src="\assets\logop.png" alt="">
      </div>
    </div>
    <div class="close" (click)="toggleClose($event)">X</div>
    <div class="links">
      <a class="nav-link " aria-current="page" routerLink=""(click)="setActiveLink($event)">Home</a>
      <a class="nav-link " aria-current="page" routerLink="/courses/view"(click)="setActiveLink($event)">Courses</a>
      <a class="nav-link " aria-current="page" routerLink="trainers/trainerlist" (click)="setActiveLink($event)">Trainers</a>
      <a class="nav-link " aria-current="page" routerLink="aboutus" (click)="setActiveLink($event)">Aboutus</a>
      <a class="nav-link " aria-current="page" routerLink="contact" (click)="setActiveLink($event)">Contact</a>
      <a class="nav-link " aria-current="page" routerLink="/auth/login" (click)="setActiveLink($event)" *ngIf="!isLogin">Login</a>
      <a class="nav-link " aria-current="page" routerLink="/auth/login" (click)="setActiveLink($event)" (click)="logout()" *ngIf="isLogin">Logout</a>
      
    </div>
  </header>



  