footer{
<<<<<<< HEAD
    position: sticky;
    top:100%;
=======
    /* position: fixed; */
    /* bottom:0px; */
>>>>>>> d5d14ac0e1ed3b3eb9b88503c04f6f77e6a2c1d6
    width: 100%;
    padding:30px 0;
    font-size:27px;
    font-weight:bold;
    text-align:center;
    background:#004246;
    color:white;
    font-family:Arial;
    letter-spacing:1px;
    /* margin-top: 50vh; */
    background-image: url('../../assets/bg11.jpg');
}