footer{
    /* position: fixed; */
    /* bottom:0px; */
    width: 100%;
    padding:80px 0;
    font-size:27px;
    font-weight:bold;
    text-align:center;
    background:#004246;
    color:white;
    font-family:Arial;
    letter-spacing:1px;
    margin-top: 50vh;

}