<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>
<body>
   
    <div class="container-fluid">
        <div class="courses">
            <img src="\assets\jfsimage.jpg">
            <div class="description">Java-Full-stack-devlopment</div>
        </div>

        <div class="courses">
            <img src="\assets\python.jpg">
            <div class="description">Python-Full-stack-devlopment</div>
        </div>

        <div class="courses">
            <img src="\assets\powerbi2.jpg">
            <div class="description">Power bi</div>
        </div>

        <div class="courses">
            <img src="\assets\azure.jpg">
            <div class="description">Microsoft Azure</div>
        </div>

        <div class="courses">
            <img src="\assets\servicenow.jpg">
            <div class="description">service now</div>
        </div>
        
        <div class="courses">
            <img src="\assets\web design1.jpg">
            <div class="description">Web Design</div>
        </div>

    </div>

</body>
</html>