:root{
    --text-color:#808080;
    --bg-color:#f8f8fe;
}

.course-container{
height: 80vh;
}

.card{
    box-shadow: 1px 12px 13px 1px gray;
    margin: 0 20px;
    transition: all 0.5s ;
    border-radius: 15px;
}

.card:hover{
    transform: translateY(-20px);
}

/* .container{
    position: sticky;
    top: 150px;
} */

.courses img{
    width:fit-content;
    height:fit-content;
    scale: 1.1;
}
.courses{
    overflow: hidden;
    width:max-content;
    height:max-content;
}

.courses .description{
    padding: 20px;
    color:#004246 ;
    /* color: #fff; */
    width: 100%;
}


.nav-link{
    font-size: 18px;
    color: #004246;
    background-color: #fff;
}
.nav-link.active{
    background-color: #004246;
    color: #fff;
}

.course{
    display: flex;
    border-radius: 10px;
    margin: 50px 0;
    width: 100%;
    min-height: 400px;
    background-color: #f8f8fe;
}

.course-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #004246; */
    border-radius: 10px;
    padding: 50px;
    overflow: hidden;
}

.course-body .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    border-radius: 15px;
}

.course-body .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 4px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: var(--text-color);
    text-align: justify;
    padding: 50px;
}


