<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
</head>
<body>
    <div class="container-fluid">

<div class="about-section">
    <div class="inner-container">
        <h1>About Us</h1>
        <p class="text">
            Primepro Software Learning Private Limited is an unlisted private company incorporated on 30 December, 2022. It is classified as a private limited company and is located in Hyderabad, Telangana. It's authorized share capital is INR 10.00 lac and the total paid-up capital is INR 1.00 lac.

The current status of Primepro Software Learning Private Limited is - Active.

Details of the last annual general meeting of Primepro Software Learning Private Limited are not available. The company is yet to submit its first full-year financial statements to the registrar.

Primepro Software Learning Private Limited has three directors - Ravi Aleti Kumar, Naga Jyothi Basava, and others.
        </p>
        <div class="skills">
            <span>Java-Full-stack-devlopment</span>
            <span>Web design</span>
            <span>Servicenow</span>

        </div>

    </div>

</div>
</div>

</body>
</html>