li{
    margin: 5px;
}
li a {
   text-decoration: none;
   padding: 8px 30px;
   border-radius: 5px;
   background-color: #10645e;
   color: whitesmoke;
}

li a:hover{
    background-color: whitesmoke;
    color: #10645e;
    font-size: large;
}

li a:active{
    color: whitesmoke;
    background-color: rgb(119, 46, 46);
}
.outlet{
    position: relative;
    top: 0px;
    background-color: transparent;
    width: 100%;
    z-index: -2;
}


/* .card{
    box-shadow: 5px 12px 12px 1px black;
    max-height: 80vh;
    overflow: auto;
    
} */
