.card-body span{
    /* display: flex; */
    /* flex-direction: co; */
    /* justify-content: space-between; */
    /* align-items: center; */
    font-size: 14px;
    /* font-weight: 500; */
}
.card-body .text{
    font-size: 14px;
    font-weight: normal;
    text-transform: capitalize;
}

.card-body{
    border-top: 5px solid rgb(35, 93, 97);
    border-radius: 5px;
}

.card-text{
    margin: 10px;
}
.col{
    overflow: hidden;

}

img{
    min-height: 200px;
    max-height: 200px;
    transition: all 0.5s;
}

.card:hover img{
    background-position: -40% 60%;
    transform: scale(1.5);

}

.cH{
    font-weight: 700;
}
.btns{
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}