
<div class="album py-5">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
      <div class="col" *ngFor="let item of course">
        <div class="card shadow-sm">
          <!-- Carousel Start -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div>
                <img
                  [src]="getImage(item.id) | async"
                  class="d-block w-100"
                  alt="Please Upload Image"
                />
              </div>
            </div>
          </div>

          <!-- Carousel End -->

          <div class="card-body">
            <div class="card-text">
              <span class="cH">Course Name : </span
              ><span class="text">{{ item.name }}</span>
            </div>
            <div class="card-text">
              <span class="cH">Price :</span
              ><span class="text"
                >&#8377; {{ item.price - item.price * 0.15 }}
                <del> &#8377; {{ item.price }}</del></span
              >
            </div>
            <div class="card-text">
              <span class="cH">Duration :</span
              ><span class="text">{{ item.duration }}</span>
            </div>
            <div *ngIf="isAdmin" class="btns">
              <button
                routerLink="/courses/add"   
                [queryParams]="{ id: item.id }"
                class="btn btn-info"
              >
                Update
              </button>
              <button (click)="delete(item.id)" class="btn btn-danger">
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                src="\assets\javacourse.jpg"
              />
            </div>
          </div>

          <div class="card-body">
            <div class="card-text">
              <span class="cH">Course Name : </span
              ><span class="text">Java</span>
            </div>
            <div class="card-text">
              <span class="cH">Price :</span
              ><span class="text">&#8377; 12500 <del> &#8377; 15400</del></span>
            </div>
            <div class="card-text">
              <span class="cH">Duration :</span
              ><span class="text">6 Month</span>
            </div>
            <div *ngIf="isAdmin" class="btns">
              <button class="btn btn-info">Update</button>//these  two buttons are not working
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                src="\assets\pythoncourse.jpg"
              />
            </div>
          </div>

          <div class="card-body">
            <div class="card-text">
              <span class="cH">Course Name : </span
              ><span class="text">Python</span>
            </div>
            <div class="card-text">
              <span class="cH">Price :</span
              ><span class="text">&#8377; 12500 <del> &#8377; 15400</del></span>
            </div>
            <div class="card-text">
              <span class="cH">Duration :</span
              ><span class="text">6 Month</span>
            </div>
            <div *ngIf="isAdmin" class="btns">
              <button class="btn btn-info">Update</button>
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                src="\assets\netcourse.jpg"
              />
            </div>
          </div>

          <div class="card-body">
            <div class="card-text">
              <span class="cH">Course Name : </span
              ><span class="text">.Net</span>
            </div>
            <div class="card-text">
              <span class="cH">Price :</span
              ><span class="text">&#8377; 12500 <del> &#8377; 15400</del></span>
            </div>
            <div class="card-text">
              <span class="cH">Duration :</span
              ><span class="text">6 Month</span>
            </div>
            <div *ngIf="isAdmin" class="btns">
              <button class="btn btn-info">Update</button>
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                src="\assets\htmlimage.jpg"
              />
            </div>
          </div>

          <div class="card-body">
            <div class="card-text">
              <span class="cH">Course Name : </span
              ><span class="text">Html</span>
            </div>
            <div class="card-text">
              <span class="cH">Price :</span
              ><span class="text">&#8377; 12500 <del> &#8377; 15400</del></span>
            </div>
            <div class="card-text">
              <span class="cH">Duration :</span
              ><span class="text">6 Month</span>
            </div>
            <div *ngIf="isAdmin" class="btns">
              <button class="btn btn-info">Update</button>
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                src="\assets\csscourse.jpg"
              />
            </div>
          </div>

          <div class="card-body">
            <div class="card-text">
              <span class="cH">Course Name : </span
              ><span class="text">CSS</span>
            </div>
            <div class="card-text">
              <span class="cH">Price :</span
              ><span class="text">&#8377; 9500 <del> &#8377; 11400</del></span>
            </div>
            <div class="card-text">
              <span class="cH">Duration :</span
              ><span class="text">6 Month</span>
            </div>
            <div *ngIf="isAdmin" class="btns">
              <button class="btn btn-info">Update</button>
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img
                class="bd-placeholder-img card-img-top"
                width="100%"
                height="225"
                src="\assets\mysqlcourse.jpg"
              />
            </div>
          </div>

          <div class="card-body">
            <div class="card-text">
              <span class="cH">Course Name : </span
              ><span class="text">mySql</span>
            </div>
            <div class="card-text">
              <span class="cH">Price :</span
              ><span class="text">&#8377; 9500 <del> &#8377; 13400</del></span>
            </div>
            <div class="card-text">
              <span class="cH">Duration :</span
              ><span class="text">6 Month</span>
            </div>
            <div *ngIf="isAdmin" class="btns">
              <button class="btn btn-info">Update</button>
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
       
          
        </div>
      </div>
    </div>
  </div>

