<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="\assets\servicenow.jpg"
          class="bd-placeholder-img card-img-top"
          width="100%"
          preserveAspectRatio="xMidYMid slice"
        />
        <div class="card-body">
          <p class="card-text text-center">longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="container">
  <div class="row m-3">
    <div class="col-sm-12 text-center m-3 card mx-auto courses">
      <img src="\assets\jfsimage.jpg" />
      <div class="description">Java-Full-stack-devlopment</div>
    </div>
    <div class="col-sm-12 text-center m-3 card mx-auto courses">
      <img src="\assets\python.jpg" />
      <div class="description">Python-Full-stack-devlopment</div>
    </div>
    <div class="col-sm-12 text-center m-3 card mx-auto courses">
      <img src="\assets\powerbi2.jpg" />
      <div class="description">Power bi</div>
    </div>
  </div>
  <div class="row m-3">
    <div class="col-sm-3 text-center m-3 card mx-auto courses">
      <img src="\assets\azure.jpg" />
      <div class="description">Microsoft Azure</div>
    </div>
    <div class="col-sm-12 text-center m-3 card mx-auto courses">
      <img src="\assets\servicenow.jpg" />
      <div class="description">service now</div>
    </div>
    <div class="col-sm-12 text-center m-3 card mx-auto courses">
      <img src="\assets\web design1.jpg" />
      <div class="card-body">
        <div class="card-title">
          <div class="description">Web Design</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-2">
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="\assets\servicenow.jpg"
          class="bd-placeholder-img card-img-top"
          width="100%"
          preserveAspectRatio="xMidYMid slice"
        />
        <div class="card-body">
          <p class="card-text text-center">longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="\assets\servicenow.jpg"
          class="bd-placeholder-img card-img-top"
          width="100%"
          preserveAspectRatio="xMidYMid slice"
        />
        <div class="card-body">
          <p class="card-text text-center">longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <img
          src="\assets\servicenow.jpg"
          class="bd-placeholder-img card-img-top"
          width="100%"
          preserveAspectRatio="xMidYMid slice"
        />
        <div class="card-body">
          <p class="card-text text-center">longer.</p>
        </div>
      </div>
    </div>
  </div>
</div> -->