@import "~bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Archivo&display=swap");


:root{
    --header-bg1:#3e2093;
    --header-bg2:#004246;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  background: url("./assets/bg2.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  /* filter: blur(2px); */
}
