/* .carousel{
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
} */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

  .course{
    display: flex;
    border-radius: 10px;
    margin: 50px 0;
    width: 100%;
    min-height: 400px;
    background: #cae4db;
}
.container-fluid{
  background: #cae4db;
}
.course-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: #004246; */
    background: #cae4db;
    border-radius: 10px;
    padding: 40px;
    overflow: hidden;
}

.course-body .content1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border-radius: 15px;
}

.course-body .content2{
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 4px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 400;
    color: var(--text-color);
    text-align: justify;
    padding: 5px;
}
.col{
  cursor: pointer;
}
.img{
  overflow: hidden;
}
.card-img-top{
  transition: all 0.5s;
}

.col:hover  .card-img-top{
  /* color: white; */
  transform: scale(1.3);
}