<!-- <div class="home">

  <div class="carousel" >
    
    <div id="carouselExampleControls" class="carousel slide " style="height: 80px;" data-bs-ride="carousel" >
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="\assets\azure.jpg" class="d-block w-100" alt="\assets\azure.jpg">
        </div>
        <div class="carousel-item">
          <img src="\assets\powerbi.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="\assets\jfsimage.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div> 
</div> -->

<div class="course">
  <div class="course-body">
    <div class="row row-cols-sm-2">
      <div class="col-sm-6 content1 row-cols-1 mx-auto">
        <div class="row row-cols-1 text-center">
          <img src="\assets\logo1.png" alt="" />
        </div>
      </div>
      <!-- <div class="col-sm-6 content2">
        At PrimePro, we leverage our extensive experience in global staffing , building corporate learning centres, academic collaborations, and skilling industry to provide you with the most comprehensive and effective training solutions. We understand the specific needs and challenges of both individuals and businesses, and we use this knowledge to create customized training solutions that deliver measurable results.
      </div> -->
    </div>
  </div>
</div>

<div class="album py-5 bg-light">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5">
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">
            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg21.jpg"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              python is used for web develpment,system script, software 
              development and mathematics.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">

            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg22.png"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              Azure DevOps is set of processes that bring together developers, 
              project managers, and contributors to develop software.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">

            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg23.png"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              ASP.NET Core is designed to allow runtime components,
              APIs, compilers, and languages evolve quickly
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">

            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg25.png"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              With Facebook, YouTube, and Twitter, the number of people 
              actively engaging in social networking has only risen
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">

            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg24.jpg"
            />
            
          </div>
          <div class="card-body">
            <p class="card-text">
              It includes aspects such as web design, web publishing, 
              web programming, and database management.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">

            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg26.jpg"
            />
            
          </div>
          <div class="card-body">
            <p class="card-text">
              ServiceNow allows employees to work the way they want to, 
              not how software dictates they have to
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">

            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg28.jpg"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              cloud computing is the delivery of computing services
              including servers,storage, databases, over the Internet
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">

            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg29.jpg"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              UI refers to the screens, buttons, toggles, icons
            and other elements that you interact with when using a website, app, or other electronic device
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <div class="img">
          
            <img
            class="bd-placeholder-img card-img-top"
            width="100%"
            height="225"
            src="assets\bg30.jpg"
            />
          </div>

          <div class="card-body">
            <p class="card-text">
              Artificial intelligence (AI) is development of computer systems 
              capable of performing tasks that historically required human intelligence
            </p>
          </div>
        </div>
      </div>
     
      </div>
    </div>
  </div>

